In [1]:
#import libraries
import pandas as pd

In [2]:
# read the data
filepath = r"D:\Documentos\University of Utah\Spring 2022\IS 6496 - MSBA Capstone Course\Crimson Project\IMDb\title.basics.tsv\data.tsv"
df_movies = pd.read_csv(filepath, encoding = "utf-8", sep="\t")  # IMDb dataset

C:\Users\ander\AppData\Local\Temp\ipykernel_91980\13035661.py:3: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv(filepath, encoding = "utf-8", sep="\t")  # IMDb dataset

In [3]:
# overview dataframe
df_movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9038279,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
9038280,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
9038281,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
9038282,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
9038283,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [14]:
# remove "\N" from starYear column
df_movies = df_movies.loc[df_movies["startYear"].isin(["\\N"]) == False,]

In [15]:
# change the dtype of startYear from str to numeric
df_movies["startYear"] = pd.to_numeric(df_movies["startYear"])

In [12]:
#filters
titleType = df_movies["titleType"]=="movie"
startYear = df_movies["startYear"]>2015
# originalTitle = df_movies["originalTitle"].str.contains('Top Gun')

#apply the filter to resize data set.
df_movies = df_movies.loc[titleType & startYear,]

In [16]:
startYear = df_movies["startYear"]==2022

df_movies.loc[startYear,]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
117734,tt0120589,movie,A Dangerous Practice,A Dangerous Practice,0,2022,\N,108,Drama
254456,tt0265705,movie,Saurians,Saurians,0,2022,\N,83,"Action,Sci-Fi"
312869,tt0326716,movie,5-25-77,'77,0,2022,\N,132,"Comedy,Drama"
384244,tt0400871,movie,Take Out,Take Out,0,2022,\N,\N,Comedy
409250,tt0426522,movie,Making Angels,Making Angels,0,2022,\N,\N,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...,...,...,...
9027268,tt9893158,movie,Clowning,Clowning,0,2022,\N,96,"Crime,Romance"
9027642,tt9894000,movie,Twice As Strong: Made of Fire,Twice As Strong: Made of Fire,0,2022,\N,122,Drama
9030150,tt9899344,movie,"GodHead: In a fiction, in a dream of passion","GodHead: In a fiction, in a dream of passion",0,2022,\N,\N,Drama
9032439,tt9904252,movie,"Nice & Naughty, A Christmas Story","Nice & Naughty, A Christmas Story",0,2022,\N,\N,"Comedy,Drama,Fantasy"
9032617,tt9904648,movie,The Contrast,The Contrast,0,2022,\N,82,Comedy

In [ ]:
import boxofficemojo as bom

bom = bom.BoxOfficeMojo()

print (bom.get_movie_stats_by_name('black panther'))